@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fefefe;
}

ol, ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}